.text-container {
    text-align: left;
    margin-top: 60px; /* Adjust the spacing above as needed */
    margin-left: 120px; /* Adjust the spacing above as needed */
    font-size: 60px;
}

.textMide {
    text-align: left;
    margin-top: 60px; /* Adjust the spacing above as needed */
    margin-left: 120px; /* Adjust the spacing above as needed */
    margin-right: 120px;
    font-size: 40px;
}

.textchico {
    text-align: left;
    margin-top: 30px; /* Adjust the spacing above as needed */
    margin-left: 120px; /* Adjust the spacing above as needed */
    margin-right: 120px;
    font-size: 15px;
    
}

.div-border {
    
     /* Optional: Add padding to create space between the content and the border */
    flex: 2;
}

.divImg {
   
     /* Optional: Add padding to create space between the content and the border */
    flex: 1;
}

.containerPrueba{
    
    display: flex;
}

.imgBrain{
    margin-top: 70px;
    width: 70%;
    height: auto;
}