.tablaResultadosPregunta {
    width: 100%;
    border-collapse: collapse;
    background-color: #EFE3CB;
    border: none;
    border-radius: 2rem;
}

.tablaResultadosPregunta th {
    padding: 1rem;
    text-align: left;
    font-size: 1.8rem;
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    border: none;
}

.tablaResultadosPregunta td {  
    padding: 1rem;
    text-align: left;
    font-size: 1.8rem;
    font-family: 'Lato';
    font-weight: 400;
    border: none;
}

.totalResultadosPregunta td{
    padding: 1rem;
    font-size: 2.2rem;
    font-family: 'Lato';
    font-weight: 900;
    font-style: italic ;
    border: none;
}

.totalResultadosPregunta .totalPalabraResultadosPregunta {
    text-align: right;
    padding-right: 4rem;
}

.buttonContainerResultadosGrafica {
    display: flex;
    align-items: left;
    justify-content: left;
    margin: 0.5rem;
  }
 
  .buttonContainerResultadosGrafica .btn{
    background-color: #D9D9D9;
    color: black;
    border: 2px solid #D9D9D9;
    font-family: 'Lato';
    font-weight: 900;
    font-style: italic ;
    font-size: 1.8rem;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
  }

  .buttonContainerResultadosGrafica h2{
    font-family: 'Lato';
    font-weight: 600;
    font-style: italic ;
  }
  
