.bottom-navbar {
    margin-top: 60px;
    margin-bottom: 60px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #EFE3CB;
    height: 120px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.Link2 {
    color: #000000;
    text-decoration: none;
    padding: 0 .5em;
    opacity: .95;
    margin-left: 12%;
}

.Link2:hover {
    color: #000000;
    opacity: .60;
}

.Link2:visited {
    color: #000000;
    opacity: .85;
}

.Link2:active {
    color: #000000;
    opacity: 1;
}

.Navegacion{
    color: #000000;
    text-decoration: none;
    padding: 0 .5em;
    opacity: .95;
    margin-left: 12%;
    font-size: 16px;
}

.Navegacion:hover {
    color: #000000;
    opacity: .95;
}

.Link3 {
    color: #000000;
    text-decoration: none;
    padding: 0 .5em;
    opacity: .95;
    margin-left: 12%;
    font-size: 60px;
}

.Link3:hover {
    color: #000000;
    opacity: .60;
}

.Link3:visited {
    color: #000000;
    opacity: .85;
}

.Link3:active {
    color: #000000;
    opacity: 1;
}
