.ManagePam {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.form-control{
    width: 100%;
}

.form-label{
    font-size: 1rem;
    font-weight: bold;
    color: #000000;
    font-family: 'Quicksand';
}

.form-info{
    max-width: 1200px;
    margin: 0 auto ;
    padding: 4rem;
    border: 1px solid #000000;
    border-radius: 1rem;
    box-shadow: 0 0 10px #000000;
    background-color: white;
    font-family: 'Quicksand';
    
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.my-form{
    max-width: 1000px;
    margin: 0 auto ;
    align-items: center;
    font-family: 'Quicksand';
}

.vertical-center {
    top: 50%;
    -ms-transform: translateY(10%);
    transform: translateY(10%);  
}


